EdaCore/IO/Schemas/EdaBoardDocument.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    elementFormDefault="qualified"
    targetNamespace="http://MikroPic.com/schemas/edatools/v1/EdaBoardDocument.xsd"
    xmlns="http://MikroPic.com/schemas/edatools/v1/EdaBoardDocument.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element
        name="document">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="1" maxOccurs="1">
                    <xs:element ref="board" maxOccurs="unbounded" minOccurs="1"/>
                    <xs:element ref="library" maxOccurs="unbounded" minOccurs="1"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="version" use="required" type="xs:string"/>
            <xs:attribute name="documentType" use="required" type="xs:string"/>
            <xs:attribute name="distanceUnits" use="required" type="distanceUnitsType"/>
            <xs:attribute name="angleUnits" use="required" type="angleUnitsType"/>            
        </xs:complexType>
    </xs:element>

    <xs:element
        name="board">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="layers" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="signals" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="components" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="parts" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="elements" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="position" use="optional" type="pointType"/>
            <xs:attribute name="rotation" use="optional" type="angleType"/>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="library">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="components" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" use="required" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="layers">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="layer" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element
        name="signals">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="signal" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element
        name="components">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="component" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="parts">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="part" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="layer">
        <xs:complexType>
            <xs:attribute name="id" use="required" type="xs:string"/>
            <xs:attribute name="side" use="required" type="boardSideType"/>
            <xs:attribute name="function" use="required" type="layerFunctionType"/>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="signal">
        <xs:complexType>
            <xs:attribute name="name" use="required" type="nameType"/>
            <xs:attribute name="clearance" use="optional" type="xs:double"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element
        name="component">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="elements" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="name" use="required" type="nameType"/>
            <xs:attribute name="description" use="optional" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="part">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="pads" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="attributes" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="name" use="required" type="nameType"/>
            <xs:attribute name="component" use="required" type="nameType"/>
            <xs:attribute name="position" use="required" type="pointType"/>
            <xs:attribute name="rotation" use="optional" type="angleType"/>
            <xs:attribute name="side" use="optional" type="partSideType"/>
        </xs:complexType>        
    </xs:element>

    <xs:element
        name="attributes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="attribute" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="attribute">
        <xs:complexType>
            <xs:attribute name="name" use="required" type="nameType"/>
            <xs:attribute name="value" use="required" type="xs:string"/>
            <xs:attribute name="visible" use="optional" type="xs:boolean"/>
            <xs:attribute name="position" use="optional" type="pointType"/>
            <xs:attribute name="rotation" use="optional" type="angleType"/>
            <xs:attribute name="height" use="optional" type="xs:double"/>
            <xs:attribute name="horizontalAlign" use="optional" type="horizontalTextAlignType"/>
            <xs:attribute name="verticalAlign" use="optional" type="verticalTextAlignType"/>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="pads">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="pad" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="pad">
        <xs:complexType>
            <xs:attribute name="name" use="required" type="nameType"/>
            <xs:attribute name="signal" use="required" type="nameType"/>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="elements">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="line"/>
                    <xs:element ref="arc"/>
                    <xs:element ref="rectangle"/>
                    <xs:element ref="circle"/>
                    <xs:element ref="region"/>
                    <xs:element ref="via"/>
                    <xs:element ref="tpad"/>
                    <xs:element ref="spad"/>
                    <xs:element ref="text"/>
                    <xs:element ref="circleHole"/>
                    <xs:element ref="lineHole"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element
        name="line">
        <xs:complexType>
            <xs:attribute name="layer" use="required" type="xs:string"/>
            <xs:attribute name="startPosition" use="required" type="pointType"/>
            <xs:attribute name="endPosition" use="required" type="pointType"/>
            <xs:attribute name="thickness" use="optional" type="xs:double"/>
            <xs:attribute name="lineCap" use="optional" type="lineCapType"/>
            <xs:attribute name="signal" use="optional" type="nameType"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element
        name="arc">
        <xs:complexType>
            <xs:attribute name="layer" use="required" type="xs:string"/>
            <xs:attribute name="startPosition" use="required" type="pointType"/>
            <xs:attribute name="endPosition" use="required" type="pointType"/>
            <xs:attribute name="angle" use="required" type="angleType"/>
            <xs:attribute name="thickness" use="optional" type="xs:double"/>
            <xs:attribute name="lineCap" use="optional" type="lineCapType"/>
            <xs:attribute name="signal" use="optional" type="nameType"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element
        name="rectangle">
        <xs:complexType>
            <xs:attribute name="layer" use="required" type="xs:string"/>
            <xs:attribute name="position" use="required" type="pointType"/>
            <xs:attribute name="size" use="required" type="sizeType"/>
            <xs:attribute name="rotation" use="optional" type="angleType"/>
            <xs:attribute name="thickness" use="optional" type="xs:double"/>
            <xs:attribute name="filled" use="optional" type="xs:boolean"/>
            <xs:attribute name="roundness" use="optional" type="xs:double"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element
        name="circle">
        <xs:complexType>
            <xs:attribute name="layer" use="required" type="xs:string"/>
            <xs:attribute name="position" use="required" type="pointType"/>
            <xs:attribute name="thickness" use="optional" type="xs:double"/>
            <xs:attribute name="radius" use="required" type="xs:double"/>
            <xs:attribute name="filled" use="optional" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="region">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="segment" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="layer" use="required" type="xs:string"/>
            <xs:attribute name="thickness" use="optional" type="xs:double"/>
            <xs:attribute name="clearance" use="optional" type="xs:double"/>
            <xs:attribute name="thermalThickness" use="optional" type="xs:double"/>
            <xs:attribute name="thermalClearance" use="optional" type="xs:double"/>
            <xs:attribute name="filled" use="optional" type="xs:boolean"/>
            <xs:attribute name="signal" use="optional" type="nameType"/>
            <xs:attribute name="priority" use="optional" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="segment">
        <xs:complexType>
            <xs:attribute name="position" use="required" type="pointType"/>
            <xs:attribute name="angle" use="optional" type="angleType"/>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="via">
        <xs:complexType>
            <xs:attribute name="layers" use="required" type="xs:string"/>
            <!--<xs:attribute name="topLayer" use="required" type="xs:string"/>
            <xs:attribute name="bottomLayer" use="required" type="xs:string"/>-->
            <xs:attribute name="position" use="required" type="pointType"/>
            <xs:attribute name="outerSize" use="required" type="xs:double"/>
            <xs:attribute name="innerSize" use="optional" type="xs:double"/>
            <xs:attribute name="drill" use="required" type="xs:double"/>
            <xs:attribute name="shape" use="optional" type="viaShapeType"/>
            <xs:attribute name="signal" use="optional" type="nameType"/>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="tpad">
        <xs:complexType>
            <xs:attribute name="name" use="required" type="nameType"/>
            <xs:attribute name="layers" use="required" type="xs:string"/>
            <xs:attribute name="position" use="required" type="pointType"/>
            <xs:attribute name="topSize" use="required" type="sizeType"/>
            <xs:attribute name="innerSize" use="optional" type="sizeType"/>
            <xs:attribute name="bottomSize" use="optional" type="sizeType"/>
            <xs:attribute name="drill" use="required" type="xs:double"/>
            <xs:attribute name="rotation" use="optional" type="angleType"/>
            <xs:attribute name="cornerRatio" use="optional" type="ratioType"/>
            <xs:attribute name="cornerShape" use="optional" type="tpadCornerShapeType"/>
            <xs:attribute name="clearance" use="optional" type="xs:double"/>
            <xs:attribute name="maskEnabled" use="optional" type="xs:boolean"/>
            <xs:attribute name="maskClearance" use="optional" type="xs:double"/>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="spad">
        <xs:complexType>
            <xs:attribute name="name" use="required" type="nameType"/>
            <xs:attribute name="layers" use="required" type="xs:string"/>
            <xs:attribute name="position" use="required" type="pointType"/>
            <xs:attribute name="size" use="required" type="sizeType"/>
            <xs:attribute name="rotation" use="optional" type="angleType"/>
            <xs:attribute name="cornerRatio" use="optional" type="ratioType"/>
            <xs:attribute name="cornerShape" use="optional" type="spadCornerShapeType"/>
            <xs:attribute name="clearance" use="optional" type="xs:double"/>
            <xs:attribute name="maskEnabled" use="optional" type="xs:boolean"/>
            <xs:attribute name="pasteEnabled" use="optional" type="xs:boolean"/>
            <xs:attribute name="maskClearance" use="optional" type="xs:double"/>
            <xs:attribute name="pasteReductionRatio" use="optional" type="ratioType"/>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="text">
        <xs:complexType>
            <xs:attribute name="layer" use="required" type="xs:string"/>
            <xs:attribute name="position" use="required" type="pointType"/>
            <xs:attribute name="height" use="required" type="xs:double"/>
            <xs:attribute name="thickness" use="required" type="xs:double"/>
            <xs:attribute name="horizontalAlign" use="optional" type="horizontalTextAlignType"/>
            <xs:attribute name="verticalAlign" use="optional" type="verticalTextAlignType"/>
            <xs:attribute name="rotation" use="optional" type="angleType"/>
            <xs:attribute name="value" use="optional" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="circleHole">
        <xs:complexType>
            <xs:attribute name="position" use="required" type="pointType"/>
            <xs:attribute name="diameter" use="required" type="xs:double"/>
            <xs:attribute name="platted" use="optional" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>

    <xs:element
        name="lineHole">
        <xs:complexType>
            <xs:attribute name="startPosition" use="required" type="pointType"/>
            <xs:attribute name="endPosition" use="required" type="pointType"/>
            <xs:attribute name="diameter" use="required" type="xs:double"/>
            <xs:attribute name="platted" use="optional" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType
        name="pointType">
        <xs:restriction base="xs:string">
            <xs:pattern value="^(\-?\d+(\.\d+)?),\s*(\-?\d+(\.\d+)?)$"/>
        </xs:restriction>        
    </xs:simpleType>
    
    <xs:simpleType
        name="sizeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="^(\-?\d+(\.\d+)?),\s*(\-?\d+(\.\d+)?)$"/>
        </xs:restriction>        
    </xs:simpleType>

    <xs:simpleType
        name="angleType">
        <xs:restriction base="xs:double"/>
    </xs:simpleType>

    <xs:simpleType
        name="ratioType">
        <xs:restriction base="xs:double"/>
    </xs:simpleType>

    <xs:simpleType
        name="nameType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType
        name="lineCapType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="round"/>
            <xs:enumeration value="flat"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType
        name="viaShapeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="square"/>
            <xs:enumeration value="octagon"/>
            <xs:enumeration value="circle"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType
        name="tpadCornerShapeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="round"/>
            <xs:enumeration value="flat"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType
        name="spadCornerShapeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="round"/>
            <xs:enumeration value="flat"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType
        name="horizontalTextAlignType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType
        name="verticalTextAlignType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="bottom"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType
        name="distanceUnitsType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mm"/>
            <xs:enumeration value="um"/>
            <xs:enumeration value="nm"/>
            <xs:enumeration value="inches"/>
            <xs:enumeration value="mills"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType
        name="angleUnitsType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="deg"/>
            <xs:enumeration value="rad"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType
        name="boardSideType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="inner"/>
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType
        name="partSideType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="bottom"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType
        name="layerFunctionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="signal"/>
            <xs:enumeration value="design"/>
            <xs:enumeration value="document"/>
            <xs:enumeration value="mechanical"/>
            <xs:enumeration value="outline"/>
            <xs:enumeration value="unknown"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>